.container {
  max-width: 600px;
}
#search-city {
  margin: 50px 15px;
  border-radius: 20px;
  max-width: 700px;
}
.mainsection {
  background-color: rgba(125, 125, 125, 0.2);
  margin: 50px 15px 20px 15px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 15px;
}
.fivedays {
  padding: 15px;
  background-color: rgba(125, 125, 125, 0.2);
  margin: 20px 15px 20px 15px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}
h1 {
  color: purple;
  font-size: 30px;
  text-align: left;
}
h4 {
  text-align: right;
  font-size: 15px;
}
.addfeatures {
  list-style: none;
  padding-top: 10px;
  padding-left: 1rem;
}
.features {
  margin-top: 7px;
}
.mainlogo {
  font-size: 40px;
  margin-left: 60px;
}
#maintemp {
  font-size: 30px;
  margin-left: 55px;
}
.description {
  margin-left: 45px;
}
#temptype {
  font-size: 12px;
  position: relative;
  top: -12px;
}
