.container {
  max-width: 600px;
}
#search-city {
  margin: 50px 15px;
  border-radius: 20px;
  max-width: 700px;
}
.mainsection {
  background-color: rgba(125, 125, 125, 0.2);
  margin: 50px 15px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 15px;
}
.fivedays {
  padding: 15px;
  background-color: rgba(125, 125, 125, 0.2);
  margin: 50px 15px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
h1 {
  color: purple;
  font-size: 30px;
}
